@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
 font-family: 'Poppins', sans-serif;
 background-color: rgb(96, 48, 143);
 color: rgb(238, 233, 233);
}

a {
  /* background-color: whitesmoke; */
  color: rgb(49, 6, 49);
  padding: 0.2rem;
  font-weight: bold;
}

